<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div id="instrucciones">
    <p>
      Graba un video en YouTube de máximo 2:00 minutos, dándonos a conocer los siguientes puntos:
    </p>
    <h4 class="red">A:</h4>
    <p>¿Por qué te interesa participar en Innovation MX?</p>

    <h4 class="red">B:</h4>
    <p>¿Por qué crees que tú puedes aportar innovación al proyecto?</p>

    <h4 class="red">C:</h4>
    <p>Menciona un logro significativo (escuela, trabajo, etc)</p>

    <h4 class="red">D:</h4>
    <p>Para ti, ¿qué es innovación?</p>

    <h4 class="red">E:</h4>
    <p> ¿Qué piensas del trabajo en equipo?</p>

    <h4 class="red">F:</h4>
    <p>¿Qué conoces de Brose?</p>
  </div>
</div>

<hr>

  <div class="field">
    <%= f.label :link_del_video %><br>
    <%= f.text_field :video, :required => true %>
  </div>
  <div class="field">
    <%= f.label :consideraciones_especiales %><br>
    <%= f.text_area :descripcion %>
  </div>

  <div class="field">
    <%= f.label :terminos %><br>
    <%= f.check_box :terminos, :required => true %>
    <%= link_to "Acepto términos y condiciones", terms_terms_path %>
  </div>
  <div class="actions">
    <%= f.submit class: "button button_red button_block" %>
  </div>
<% end %>
