<br><br><br>

<p>
  <strong>Nombre del Alumno:</strong>
  <%= @video.user.try(:nombre) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @video.user.try(:email) %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @video.user.try(:telefono) %>
</p>

<p>
  <strong>Escuela:</strong>
  <%= @video.user.try(:escuela) %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @video.user.try(:carrera) %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @video.user.try(:semestre) %>
</p>

<p>
  <strong>Información Adicional:</strong>
  <%= @video.user.try(:ad_info) %>
</p>

<p>
  <strong>Link de Video:</strong>
  <%= @video.video %> <br>
  <%= link_to "Ver Video", @video.video, target: :_blank %>
</p>

<p>
  <strong>Descripción del Video:</strong>
  <%= @video.descripcion %>
</p>



<%= link_to 'Editar', edit_video_path(@video) %> |
<%= link_to 'Regresar', videos_path %>


<br><br><br>